:root {
    --color-0: #ededed;
    --color-1: #ffecd6;
    --color-2: #ffd4a3;
    --color-3: #ffaa5e;
    --color-4: #d08159;
    --color-5: #8d697a;
    --color-6: #544e68;
    --color-7: #203c56;
    --color-8: #0d2b45;
}

html, body {
    height: 100%;
    width: 100vw;
    /*background: var(--color-0);*/
}

.atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: italic;
}
